body {
    background-color: #333;
    color: white;
    display: grid;
}

#container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav nav nav nav nav"
    "main content content1 content1 content sidebar"
    "main content content1 content1 content sidebar"
    "footer footer footer footer footer footer"
;
    height: 100vh;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.content {
    grid-area: content;
}

.content1 {
    grid-area: content1;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}



